<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="find">
    <ion-router-outlet name="find"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="contact">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="find" href="/tabs/(find:find)">
      <ion-icon name="search"></ion-icon>
      <ion-label>发现</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact" href="/tabs/(contact:contact)">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>客户</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon name="contact"></ion-icon>
      <ion-label>个人中心</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
